[submodule "wayland-protocols"]
	path = protocols/wayland-protocols
	url = https://gitlab.freedesktop.org/wayland/wayland-protocols.git
[submodule "wayland"]
	path = protocols/wayland
	url = https://gitlab.freedesktop.org/wayland/wayland.git
[submodule "wlr-protocols"]
	path = protocols/wlr-protocols
	url = https://gitlab.freedesktop.org/wlroots/wlr-protocols.git
[submodule "plasma-wayland-protocols"]
	path = protocols/plasma-wayland-protocols
	url = https://github.com/KDE/plasma-wayland-protocols.git
[submodule "weston"]
	path = protocols/weston
	url = https://gitlab.freedesktop.org/wayland/weston.git
[submodule "cosmic-protocols"]
	path = protocols/cosmic-protocols
	url = https://github.com/pop-os/cosmic-protocols.git
[submodule "frog-protocols"]
	path = protocols/frog-protcols
	url = https://github.com/misyltoad/frog-protocols.git
[submodule "wayland-ivi-extension"]
	path = protocols/wayland-ivi-extension
	url = git@github.com:COVESA/wayland-ivi-extension.git
