[submodule "external/protocols/wayland-protocols"]
	path = external/protocols/wayland-protocols
	url = https://gitlab.freedesktop.org/wayland/wayland-protocols.git
	update = none
[submodule "external/protocols/wayland"]
	path = external/protocols/wayland
	url = https://gitlab.freedesktop.org/wayland/wayland.git
	update = none
[submodule "external/protocols/wlr-protocols"]
	path = external/protocols/wlr-protocols
	url = https://gitlab.freedesktop.org/wlroots/wlr-protocols.git
	update = none
[submodule "external/protocols/plasma-wayland-protocols"]
	path = external/protocols/plasma-wayland-protocols
	url = https://github.com/KDE/plasma-wayland-protocols.git
	update = none
[submodule "external/protocols/weston"]
	path = external/protocols/weston
	url = https://gitlab.freedesktop.org/wayland/weston.git
	update = none
[submodule "external/protocols/cosmic-protocols"]
	path = external/protocols/cosmic-protocols
	url = https://github.com/verdiwm/cosmic-protocols.git
	update = none
[submodule "external/protocols/frog-protcols"]
	path = external/protocols/frog-protcols
	url = https://github.com/misyltoad/frog-protocols.git
	update = none
[submodule "external/protocols/wayland-ivi-extension"]
	path = external/protocols/wayland-ivi-extension
	url = https://github.com/COVESA/wayland-ivi-extension.git
	update = none
[submodule "external/protocols/hyprland-protocols"]
	path = external/protocols/hyprland-protocols
	url = https://github.com/hyprwm/hyprland-protocols.git
	update = none
[submodule "external/protocols/mesa"]
	path = external/protocols/mesa
	url = https://gitlab.freedesktop.org/mesa/mesa.git
	update = none
[submodule "external/protocols/treeland-protocols"]
	path = external/protocols/treeland-protocols
	url = https://github.com/linuxdeepin/treeland-protocols
	update = none
