[workspace]
members = ["gen", "macros"]
exclude = ["fuzz"]

[package]
name = "waynest"
version = "0.0.20"
edition = "2021"
license = "Apache-2.0"
authors = ["Federico Maria Morrone <contact@morrone.dev>"]
description = "Core wayland stuff"
readme = "README.md"
documentation = "https://docs.rs/waynest"
repository = "https://github.com/verdiwm/waynest"
include = ["src/**/*.rs", "README.md", "LICENSE"]

[features]
client = []
server = []

# Various protocols
stable = []
staging = []
unstable = []
wlr = []
plasma = []
weston = []
cosmic = ["wlr"]
frog = []
ivi = []
hyprland = []

# Internal features     
fuzz = ["dep:arbitrary"]

[dependencies]
arbitrary = { version = "1.4.1", optional = true, features = ["derive"] }
async-trait = "0.1.86"
bitflags = "2.8.0"
bytes = "1.10.0"
downcast-rs = "2.0.1"
futures-util = { version = "0.3.31", default-features = false, features = [
    "sink",
] }
pin-project-lite = "0.2.16"
rustix = { version = "0.38.44", features = ["fs", "net"] }
thiserror = "2.0.11"
tokio = { version = "1.43.0", features = ["net"] }
tracing = "0.1.41"
waynest-macros = { version = "0.0.2", path = "macros" }

[dev-dependencies]
anyhow = "1.0.95"
tokio = { version = "1.43.0", features = ["rt-multi-thread", "macros"] }
tracing-subscriber = { version = "0.3.19", features = ["env-filter"] }

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[[example]]
name = "client"
required-features = ["client"]
